<!--  <app-registrationform></app-registrationform>  -->
<!-- <app-create-drive></app-create-drive> -->
  <div style="padding: 5px;">
    <ul class="nav nav-tabs">
        <li  routerLinkActive="active"><a  routerLink='home'>Home</a></li>
        <li  routerLinkActive="active"><a  routerLink='create'>create Drive</a></li>
        <li  routerLinkActive="active"><a  routerLink='view'>view Drive</a></li>
        <li routerLinkActive="active"><a routerLink='Login'>Login</a></li>
    </ul>  
    <router-outlet></router-outlet>
  
    </div>   
<!-- <app-login-form></app-login-form> -->

<!-- <app-viewt-drive></app-viewt-drive>  --> 